.h{
    height:600px;
    background-repeat:no-repeat;
     background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
    }
    .h div{
    width: 200px;
    text-align: center;
    padding:50px;
    }
    section{
        display:inline-block;
        /*border:1px solid black;*/
        color:rgb(61, 240, 195);
    
    }
    .text-block {
      position: absolute;
      bottom: 20px;
      right: 20px;
      height:100px;
      background-color: black;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
    }
    .item{
        text-align:center
    }
    
    .container {
      position: relative;
      font-family: Arial;
    }